<div class="skill__block">
    <picture class="skill__picture">
        <source srcset="@@img, @@img2x 2x">
        <img class="skill__img" src="@@img" alt="skil icon">
    </picture>
    <p class="skill__name">@@legend</p>
    <div class="skill__input-wrapper">
        <p class="skill__value"><span class="skill__span" id="@@value-id"></span>%</p>
        <label class="skill__label visually-hidden" for="@@input-id">@@legend</label>
        <input class="skill__input @@input-background" id="@@input-id" type="range" min="0" max="100" value="@@value" step="1">
    </div>
</div>



