<div class="form__overlay js__sign-in">
    <section class="form sign-in js__sign-in">
        <h2 class="sign-in__title visually-hidden">Sign in form</h2>
        <form class="form__content sign-in__form" id="sign-in" name="sign-in" method="POST" action="https://echo.htmlacademy.ru">
            <fieldset class="form__fieldset sign-in__fieldset">
                <div class="form__inputs_wrapper">
                    <div class="form__label-wrapper">
                        <label class="form__label" for="sign-in-user-email" data-end=" *">Email</label>
                        <input class="form__input" id="sign-in-user-email" type="email">
                    </div>
                    
                    <div class="form__label-wrapper">
                        <label class="form__label" for="sign-in-user-password" data-end=" *">Password</label>
                        <input class="form__input" id="sign-in-user-password" type="password">
                    </div>

                    <div class="form__button-wrapper">
                        <button class="button form__button-subscribe" type="submit">Log in</button>
                    </div>
                    
                </div>
            </fieldset>
            <button type="button" class="form__button-close form__button-close_sign-in">
                <span class="visually-hidden">Close form</span>
                <svg class="form__close-svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="form__close-svg_hover" x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                    <rect class="form__close-svg_hover" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                    </svg>
            </button>
        </form>
    </section>
</div>

<div class="form__overlay js__register">
    <section class="form register">
        <h2 class="register__title visually-hidden">Sign in form</h2>
        <form class="form__content register__form" id="sign-in" name="register" method="POST" action="https://echo.htmlacademy.ru">
            <fieldset class="register__fieldset form__fieldset">
                <div class="form__inputs_wrapper">
                    <div class="form__label-wrapper">
                        <label class="form__label" for="register-user-email" data-end=" *">Email</label>
                        <input class="form__input" id="register-user-email" type="email">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-name" data-end=" *">Name</label>
                        <input class="form__input" id="register-user-name" type="text">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-surname" data-end=" *">Surname</label>
                        <input class="form__input" id="register-user-surname" type="text">
                    </div>
                    
                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-password" data-end=" *">Password</label>
                        <input class="form__input" id="register-user-password" type="password">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-repeat" data-end=" *">Repeat password</label>
                        <input class="form__input" id="register-user-repeat" type="password">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-location" data-end=" *">Location</label>
                        <input class="form__input" id="register-user-location" type="text">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="register-user-age" data-end=" *">Age</label>
                        <input class="form__input" id="register-user-age" type="text">
                    </div>

                    <div class="form__label-wrapper">
                        <input class="form__input-consent visually-hidden" id="register-user-consent" type="checkbox">
                        <label class="form__label-consent" for="register-user-consent">Clicking on the button, you consent to the processing of your personal data.</label>
                    </div>

                    <div class="form__button-wrapper">
                        <button class="button form__button-subscribe" type="submit">Sign up</button>
                    </div>
                    
                </div>
            </fieldset>
            <button type="button" class="form__button-close form__button-close_register">
                <span class="visually-hidden">Close form</span>
                <svg class="form__close-svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="form__close-svg_hover" x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                    <rect class="form__close-svg_hover" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                    </svg>
            </button>
        </form>
    </section>
</div>

<div class="form__overlay js__message">
    <section class="form message">
        <h2 class="message__title visually-hidden">Sign in form</h2>
        <form class="form__content message__form" id="message" name="message" method="POST" action="https://echo.htmlacademy.ru">
            <fieldset class="message__fieldset form__fieldset">
                <div class="form__inputs_wrapper">
                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="message-user-name" data-end=" *">What is your name?</label>
                        <input class="form__input" id="message-user-name" type="text">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="message-subject" data-end=" *">Message subject</label>
                        <input class="form__input" id="message-subject" type="text">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="message-user-email" data-end=" *">Your Email</label>
                        <input class="form__input" id="message-user-email" type="email">
                    </div>

                    <div class="form__label-wrapper form__half-width">
                        <label class="form__label" for="message-user-phone" data-end=" *">Your mobile phone</label>
                        <input class="form__input" id="message-user-phone" type="text">
                    </div>

                    <div class="form__label-wrapper">
                        <label class="form__label" for="message-user-message">Message</label>
                        <textarea class="form__input" name="message-user-message" id="message-user-message" cols="80" rows="8"></textarea>
                    </div>

                    <div class="form__label-wrapper">
                        <input class="form__input-consent visually-hidden" id="message-user-consent" type="checkbox">
                        <label class="form__label-consent" for="message-user-consent">Clicking on the button, you consent to the processing of your personal data.</label>
                    </div>

                    <div class="form__button-wrapper">
                        <button class="button form__button-subscribe" type="submit">Send</button>
                    </div>
                    
                </div>
            </fieldset>
            <button type="button" class="form__button-close form__button-close_message">
                <span class="visually-hidden">Close form</span>
                <svg class="form__close-svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="form__close-svg_hover" x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
                    <rect class="form__close-svg_hover" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
                    </svg>
            </button>
        </form>
    </section>
</div>
