<footer class="footer">
    <h2 class="footer__title">Contacts</h2>
    <p  class="footer__description">Want to know more or just chat? You are welcome!</p>
    <button class="footer__message_button js__message_link" type="button">Send message</button>
    <ul class="footer__social">
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">Instagram</a>
            </button>
        </li>
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">Vk</a>
            </button>
        </li>
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">Telegram</a>
            </button>
        </li>
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">Mail</a>
            </button>
        </li>
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">GitHub</a>
            </button>
        </li>
        <li class="footer__social_links">
            <button class="footer__social_button" type="button">
                <a class="footer__social_link" href="#">Phone</a>
            </button>
        </li>
    </ul>
    <p class="footer__author-info">Design by <a class="footer__author-info_company" href="#">DL Academy</a></p>
    <p class="footer__author-info">Program code from <a class="footer__author-info_creator" href="#">Antonina</a></p>
</footer>
<div class="scroll-up scroll-up_active">
    <svg class="scroll-up__svg" width="42" height="42" viewBox="0 0 42 42" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.25" y="1.25" width="39.5" height="39.5" rx="19.75" stroke="#070707" stroke-width="2.5"/>
        <rect x="17.4214" y="9.30078" width="16.5512" height="3" rx="1.5" transform="rotate(45 17.4214 9.30078)" fill="#070707"/>
        <rect x="15.3" y="30.5801" width="16.5512" height="3" rx="1.5" transform="rotate(-45 15.3 30.5801)" fill="#070707"/>
        </svg>
</div>

